<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456595027985-dcl93ujld5d0p4pquhie974jc30ehooa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456595027985-dcl93ujld5d0p4pquhie974jc30ehooa</string>
	<key>API_KEY</key>
	<string>AIzaSyBhFRddBfftQj0uHyBbzPpabULkEMyZvYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>456595027985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliakseim.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>tlwa-c707f</string>
	<key>STORAGE_BUCKET</key>
	<string>tlwa-c707f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456595027985:ios:9e72994aeabb16ea4d59b0</string>
</dict>
</plist>